PUBLIC_SITE_URL=https://www.efutraders.com
PUBLIC_KUWAIT_PHONE=+96565071368
PUBLIC_KUWAIT_WHATSAPP=96565071368
PUBLIC_UAE_PHONE=+971 55 753 5639
PUBLIC_UAE_WHATSAPP=971557535639
PUBLIC_INDIA_PHONE=+918589884138
PUBLIC_CONTACT_EMAIL=sales@efutraders.com
RESEND_API_KEY=
CONTACT_FROM_EMAIL=EFU Website <website@YOUR_VERIFIED_DOMAIN>
CONTACT_TO_EMAIL=sales@efutraders.com
KUWAIT_LEAD_EMAIL=sales@efutraders.com
UAE_LEAD_EMAIL=sales@efutraders.com
INDIA_LEAD_EMAIL=sales@efutraders.com
